<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <link rel="icon" th:href="@{../favicon.ico}" />
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/dist/css/bootstrap.css}' />
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/vue/vue.min.js}"></script>
    <script th:src="@{/webjars/vue-resource/dist/vue-resource.min.js}"></script>
<script>
    $(function () {
//        console.log("890809809");
    });
    
</script>
</head>
<body>


    <div>
       <span th:text="${single.name}"></span>
    </div>
    <div>
        <ul>
            <li th:each="book:${books}">
                <span th:text="${book.name}"></span>——————
                <span th:text="${book.id}"></span>——————
                <span th:text="${book.address}"></span>
                <!--
                <button th:onclick="'getName(\''+${book.name}+'\');'">获得名字</button>
                -->
            </li>
        </ul>
    </div>
    <a href="/myth/logout">注销登录</a>
</body>
</html>