<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/dist/css/bootstrap.css}' />
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script>
        
        function login() {
            var role = $("#inputRole").val();
            var name  = $("#inputEmail").val();
            name = role+""+name;
            console.log(name);
            // js 处理 thymeleaf 表单 提交的问题，得不到好的处理方案

            $("#formss").submit;
//            $.post("/myth/login", { "username": "nmo" });
        }
    </script>
</head>
<body>
    <div th:if="${param.error}"> 无效的账号和密码 </div>

<!--<form th:action="@{/login}" method="post">
    <div><label>帐号：</label><input type="text" name="username" /></div>
    <div><label>密码：</label><input type="password" name="password"/></div>
    <div><input type="submit" value="登录"/></div>
</form>-->

<div class="container" style="margin-top: 160px;" >
    <form id="formss" class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Myth Book</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="邮件" value="1" required="required" autofocus="autofocus"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" value="1" required="required"/>

        <label for="inputRole" class="sr-only">Role</label>
        <input type="text" id="inputRole" name="role" class="form-control" placeholder="角色" value="1" required="required"/>

        <br/><br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 30px;">登录</button>
    </form>
</div>
</body>
</html>